.body {
  background-image: url('hutkingbg.jpg');
}

.h1 {
    font-family: 'cinzelregular';
    font-variant: small-caps;
    text-align: center;
    color: var(--color-faded-gold);
    margin: 0 0.5rem 1rem 0.5rem;
    font-size: 1.8em;
    width: 100%;
}

.p {
  font-family: verdana;
  font-size: 20px;
}
